@import 'newsjournal-styles/values';
@import './chart.scss';

body {
  font-family: $dnj-sans;
  margin: 0 auto;
}

.graphicWrapper {
  padding: 25px 10px 10px;
  margin: 20px auto;
  // border-bottom: 3px solid nth($blues, 5);
  max-width: 900px;
  color: nth($grays,1);
  text-rendering: geometricPrecision;
-webkit-font-smoothing: antialiased;
}

.heading {
  margin: 10px 0;
  font-size: 24px;
  font-family: $dnj-sans;
}

.description {
  padding: 0;
  margin: 0;
  color: #333;
  font: 14px/22px $dnj-sans;
}

.source {
  font-size: 13px;
  font-family: $dnj-sans;
  color: nth($grays, 6);
  display: block;
  text-align: left;
  padding: 4px 0 0;

  &:first-of-type {
    padding-top: 20px;
  }
}

.credit {
  text-align: right;
}

.axislabel {
  font-size: 12px;
  color: nth($grays,2);
  font-family: $dnj-sans;
}
